<h1>Comminator</h1>

Comminator is social site for submitting topics, links, -- anything, really -- and have other users comment on it.
<br>
Comments with a lot of votes quickly rise to the top. Users can vote on comments submitted by other users, and, if they like certian comments a lot, follow their author. Following another user is the best way to stay up to date on their sumbittions.
<br>
Users can see the feed composed of threads submitted by those they follow by sorting their home page with the "Personalized" option. 
<br>

<p>Users can follow other users by clicking the "Follow" button on their profile page.<p>


<p>Quick list of things to do when using Comminator:


<p>Login with facebook! (purely optional, Comminator supports native logins)


<p>Create a thread</p>


<p>Post a comment</p>


<p>Vote on comments</p>


<p>Check our your profile</p>


<p>Visit other profiles, and follow other users</p>


<p>Sort your feed by any of options (Personalized, Recent, Most Comments)</p>