{% extends "base.html" %}

{% block title %} About | Comminator {% endblock %}

{% block main %}
<h1>About Comminator</h1>

Comminator is social site for submitting topics, links -- anything, really -- and have other users comment on them.
<p>
Users can vote on comments submitted by other users, and comments with a lot of votes will quickly rise to the top. When users like certain comments a lot, they can follow their author. Following another user is the best way to stay up to date on their submissions.
</p>

Users can see the feed, which is composed of threads submitted by those they follow, by sorting their home page with the "Personalized" option. 
<br>

<p>Users can follow other users by clicking the "Follow" button on their profile page.<p>


<p>Quick list of things to do when using Comminator:


<p>Login with Facebook! (purely optional, Comminator supports native logins)


<p>Create a thread</p>


<p>Post a comment</p>


<p>Vote on comments</p>


<p>Check our your profile</p>


<p>Visit other profiles, and follow other users</p>


<p>Sort your feed by any of our options (Personalized, Recent, Most Comments)</p>

<h1>About Me</h1>

<p>Noam Sutskever</p>

<p>noamsu [at] gmail [dot] com</p>

<p>I am a first year student at the University of Toronto.</p>

<p>This is my entry to DjangoDash.</p>

<p>Hope you like it!</p>

{% endblock %}