
<hr>
<table style='border-spacing: 0px; 'border=0>
    <tr>
        <td>
        <div id="first_{{comment.pk}}" style='margin:0; padding:0px;line-height:0px; border-spacing:0px; border-collapse:collapse'>
            <img class="vote_up_{{comment.pk}}" src=
            {% if comment.pk in positive_ids %}
            "/media/up2.png" 
            {% else %}
            "/media/up.png" 
            {% endif %}
            />
            <center id="count_{{comment.pk}}">{{comment.votes}}</center>
            <img class="vote_down_{{comment.pk}}" src=
            {% if comment.pk in negative_ids %}
            "/media/down2.png" 
            {% else %}
            "/media/down.png" 
            {% endif %}
            />
        </div>
    </td>
    <td width="5%">
        </td>
    <td>
    <div id="second_{{comment.pk}}" class="comment">
        <span class="comment-info">
            <a class="author-info" href="{% url user comment.author %}">{{comment.author}}</a>    says:</span>
        <li><span id="comment-content" style='font-size:14px'>{{comment.content}}</span></li>
        <span class="reply-link">reply</span>
        <form style='display:none;' id="{{comment.pk}}" action="/add_comment" method="POST">
        {% csrf_token %}
        <div><textarea name="content" rows="3" cols="50"></textarea></div>
        <input type="hidden" name="comment_id" value="{{comment.pk}}" />
        <input type="hidden" name="thread_id" value="{{thread.pk}}" />
        <input class="comment-input" type='submit' value="add comment" />
        </form>
    </div>
</div>
</td></tr></table>
{% autoescape off %}
    {{rest_rendered_comments}}
{% endautoescape %}