{% extends "base.html" %}
{% load endless %}

{% block title %} Home {% endblock %}

{% block main %}

<form method="POST" action="">
	{% csrf_token %}
	Share something interesting <br /> 
 	<textarea id="id_content" rows="3" cols="50" name="content"
 	{% if not is_logged_in %} disabled="disabled" {% endif %}
 	>{% if not is_logged_in %}Please log in to create a thread {% endif %}
 	</textarea>
	 <br />
	<input class="input-button" type="submit" value="submit" />
</form>

<div align="right"> 
	<form name="myform" action="/" method="GET">
		{% csrf_token %}
	<span style="color:gray">Sort</span>
	<input type="radio" name="sort_options" value="recent" 
	{% if selected == "recent" %} checked {% endif %}
		onClick="this.form.submit();"> Most Recent
	<input type="radio" name="sort_options" value="personal"
	{% if selected == "personal" %} checked {% endif %}
		onClick="this.form.submit();"> Personalized
	<input type="radio" name="sort_options" value="numcomments"
	{% if selected == "numcomments" %} checked {% endif %}
		onClick="this.form.submit();"> Number of Comments
	</form>

</div>

{% paginate num_threads threads %}
{% for thread in threads %}
	<table style="font-size:13px"><tr><td>
	posted by
	<a class="author-info" href="{% url user thread.creator.get_profile.display_name %}">{{thread.creator.get_profile.display_name}}</a>
</td><td>

</td></tr></table>
	<blockquote>
	 <a class="thread" href="{% url thread thread.id %}">{{thread.content}}</a>
	 <br />
	 <small>{{thread.comment_count}} comments</small>
	 {% if thread.creator == user %}
	 	<form action="/delete" method="POST">
		<input type="hidden" name="_id" value="{{thread.pk}}" />
		<input type="hidden" name="type" value="thread" />
		<input style="font-size:13px" class="form-button" type="submit" value="delete" />
		</form>
	{% endif %}
	</blockquote>
	<hr>
	<br />
{% endfor %}

{% show_pages %}

{% endblock %}