{% extends "base.html" %}
{% load endless %}

{% block main %}
<h1>{{user.get_profile.display_name}}</h1>

{% if is_logged_in %}
	<form action="/follow" method="POST"/>
		{% csrf_token %}
		<input type="hidden" name="profile_user_id" value="{{profile_user.pk}}" />
		<input class="input-button" type="submit" value="+ Follow" />
	</form>
{% else %}
	You need to log in to follow this user
{% endif %}


Recent comments:

{% paginate num_comments comments %}

{% for comment in comments %}
<p>
	<hr>

	<div>{{comment.content}}</div>
	<small>
	<a href="{% url thread comment.thread.id %}#first_{{comment.pk}}">
		View in thread
	</a>
	</small>
</p>
{% endfor %}

{% show_pages %}

{% endblock %}








