{% extends "base.html" %}
{% load endless %}

{% block main %}
<h1>{{profile_user.get_profile.display_name}}</h1>

{% if not my_profile %}
	{% if is_logged_in %}
		{% if is_following %}
			<p><b>You are currently following {{profile_user.get_profile.display_name}}</b>

			<form action="/follow" method="POST"/>
				{% csrf_token %}
				<input type="hidden" name="profile_user_id" value="{{profile_user.pk}}" />
				<input type="hidden" name="action" value="unfollow" />
				<input class="input-button" type="submit" value="- Unfollow" />
			</form>

			</p>
		{% else %}
			<form action="/follow" method="POST"/>
				{% csrf_token %}
				<input type="hidden" name="profile_user_id" value="{{profile_user.pk}}" />
				<input type="hidden" name="action" value="follow" />
				<input class="input-button" type="submit" value="+ Follow" />
			</form>
		{% endif %}
	{% else %}
		<p>You need to log in to follow this user</p>
	{% endif %}
{% else %}
	<p>This is your pofile! Visit the profile of another user to follow them.</p>
{% endif %}


Recent comments:

{% paginate num_comments comments %}

{% for comment in comments %}
<p>
	<hr>

	<div>{{comment.content}}</div>
	<small>
	<a href="{% url thread comment.thread.id %}#first_{{comment.pk}}">
		View in thread
	</a>
	</small>
</p>
{% empty %}

<p>You didn't write any comments --- you should, it's fun!</p>
{% endfor %}

{% show_pages %}

{% endblock %}








