{% extends "base.html" %}
{% load custom_tags %}

{% block main %}

Thread page for: {{thread.content}}
<br />
<br />
<form action="/add_comment" method="POST">
	{% csrf_token %}
	Write a comment
	<div><textarea name="content" rows="3" cols="50"></textarea></div>
	<input type="hidden" name="thread_id" value="{{thread.pk}}" />
	<input class="comment-input" type='submit' value="Create new comment" />
</form>

{% for comment in structure %}
	{{comment|format_threaded_comments:user_voting_data}}
{% endfor %}

<script type="text/javascript">
	function get_last_char(str){
		// Return the comment id, which is found as the number
		// at the end of the element id.
		return str.split("_")[1];
	}

	$(".reply-link").click(function(){
		// Side down the comment form when the
		// reply button is pressed.

		var id = $(this).parent().attr("id");
		var last_char = get_last_char(id);
		$("#" + last_char).slideDown("fast")
	})

	// Vote on comments:

	$('[class^=vote_up]').click(function(){
		var id= $(this).parent().attr("id");
		var last_char = get_last_char(id);

		var data_to_send  = {"comment_id":last_char, 
						     "action":"up"}

        // Store $(this) so that we can use it below
		var self = $(this)

		$.ajax({
	        url      : "/ajax/vote",
	        type     : "POST",
	        dataType : "json",
	        data     : data_to_send,
	        success  : function(data){
				var new_count = String(data.score);
				$("#count_" + last_char).html(new_count);

				color_up = parseInt(data.color_up);
				color_down = parseInt(data.color_down);

				if (color_up){
					self.attr("src", "/media/up2.png")
				}
				else{
					self.attr("src", "/media/up.png")
				}

				if (color_down){
					$(".vote_down_" + last_char).attr("src", "/media/down2.png")
				}
				else{
					$(".vote_down_" + last_char).attr("src", "/media/down.png")	
				}
	    	}
		})
	})

	$('[class^=vote_down]').click(function(){
		var id= $(this).parent().attr("id");
		var last_char = get_last_char(id);

		var data_to_send  = {"comment_id":last_char, "action":"down"}

		self = $(this)

		$.ajax({
	        url      : "/ajax/vote",
	        type     : "POST",
	        dataType : "json",
	        data     : data_to_send,
	        success  : function(data){
	        	console.log(data)
				var new_count = String(data.score);
				$("#count_" + last_char).html(new_count)

				color_up = parseInt(data.color_up);
				color_down = parseInt(data.color_down);


				if (color_down){
					self.attr("src", "/media/down2.png")
				}
				else{
					self.attr("src", "/media/down.png")
				}


				if (color_up){
					$(".vote_up_" + last_char).attr("src", "/media/up2.png")
				}
				else{
					$(".vote_up_" + last_char).attr("src", "/media/up.png")	
				}

	        }
		})


	})



</script>

{% endblock %}